@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
body{
    margin:0px;
   background-color: lightskyblue;
}
.header{
    color:black;
    font-size:2rem;
    text-align:center;
    font-style: italic;
    font-family:Calligraffitti;
    padding:1rem;
    background-color:#FBBF24;
    margin:0px;
}
.in-textarea{
    max-width: 80%;
    display: block;
    margin: 2rem auto;
    height:10rem;
    width: 30rem;
    padding:1rem;
}
.out-textarea{
    max-width: 80%;
    display: block;
    margin: 2rem auto;
    height:6rem;
    width:30rem;
    padding:1rem;
    margin-top:0;
}
p{
    margin-left:30%;
}
#btn-translate{
    display:inline;
    padding:0.5rem;
    background-color:lightseagreen;
    font-size:1rem;
    max-width:80%;
}

.btn-container{
   text-align:center;
   
}
footer{
    text-align:center;
    background-color:blue;
    padding:1rem;
    font-style: italic;
}
.footer-content{
    max-width: 80%;
    text-align: center;
    width:35rem;
    margin:auto;
}